@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../Fonts/Pretendard-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../Fonts/Pretendard-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../Fonts/Pretendard-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../Fonts/Pretendard-Regular.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'intelone-mono-font-family-regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.babyLion-mobile-contatiner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

.babylion-mobile-header {
    margin-top: 85px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 342px;


}

.babylion-mobile-title {
    font-family: 'Pretendard-Bold';
    font-size: 24px;
    color: #323232;
    margin: 0;
    /* padding-left: 40px; */
}

.babylion-mobile-main {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 85px;
}

.baby-mobile-row-3,
.baby-mobile-row-2,
.baby-mobile-row-1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.baby-mobile-box-1,
.baby-mobile-box-2 {
    /* white-space: nowrap; */
    width: 163px;
    height: 116px;
    border: none;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;  /* 세로 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
    align-items: center;  /* 수평 중앙 정렬 */
    text-align: center;  /* 텍스트 중앙 정렬 */
}

.baby-mobile-row-1 {
    position: relative;
    margin-top: 28px;
}

.baby-mobile-row-2 {
    position: relative;
    margin-top: 14px;
}

.baby-mobile-row-3 {
    position: relative;
    margin-top: 21px;
}

.babylion-mobile-num {
    font-family: 'intelone-mono-font-family-regular';
    color: #1B9CFF;
    font-weight: 600;
    font-size: 16px;
    margin: 0;

}

.babylion-mobile-content {
    text-align: center;
    /* width: 150px; */
    font-size: 12px;
    margin: 0;
    font-family: 'Pretendard-Medium';
    padding-top: 5px;
}

.mobile-except {
    color: #939393;
}
