@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../Fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../Fonts/Pretendard-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../Fonts/Pretendard-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../Fonts/Pretendard-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'IntelOneMono-Medium';
    src: url('../Fonts/IntelOneMono-Medium.ttf') format('truetype');
    font-style: normal;
}

.PostMobileContainer {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    background-color: #F4F4F4;
}

.PostMobContainer-Title {
    font-family: 'Pretendard-Bold';
    font-size: 18px;
    color: #323232;
    margin-top: 28px;
    white-space: nowrap;
    width: 342px;

}

.PostMobContainer-Notice-Box {
    width: 342px;
}

.PostMobContainer-Notice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 327px;
    height: 96px;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    background-color: #FFFFFF;
    gap: 5px;
    margin-top: 10px;
}

.Notice-Mobile-top {
    width: 100%;
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    color: #FF469F;
    text-align: left;
}

.Notice-Mobile-bottom {
    width: 100%;
    font-family: 'Pretendard-Medium';
    font-size: 12px;
    text-align: left;
    line-height: 1.6;
}

.PostMobContainer-Contents {
    display: flex;
    flex-direction: column;
    width: 366px;
    padding-left: 24px;
    gap: 66px;
}

.PostMobContainer-InfoBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* gap: 28px; */
    margin-top: 15px;
}

.PostMobContainer-Contents-Name,
.PostMobContainer-Contents-studentNum,
.PostMobContainer-Contents-phoneNum,
.PostMobContainer-Contents-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

.PostMobContainer-Contents-studentNum,
.PostMobContainer-Contents-phoneNum,
.PostMobContainer-Contents-email {
    padding-top: 28px;
}

.PostMobContainer-Contents-email {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}

.PostMobContainer-Contents-Name-label,
.PostMobContainer-Contents-studentNum-label,
.PostMobContainer-Contents-phoneNum-label,
.PostMobContainer-Contents-email-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 49px;
    height: 34px;
    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
    color: #323232;
}


.PostMobContainer-Contents-studentNum-Inputbox,
.PostMobContainer-Contents-Name-Inputbox {
    width: 104px;
    height: 34px;
    border: 1px solid #D6D6D6;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border-radius: 10px;
    font-family: 'Pretendard-Medium';
    font-size: 12px;
    color: #323232;

}

.PostMobContainer-Contents-phoneNum-Inputbox,
.PostMobContainer-Contents-email-Inputbox {
    width: 146px;
    height: 34px;
    border: 1px solid #D6D6D6;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border-radius: 10px;
    font-family: 'Pretendard-Medium';
    font-size: 12px;
    color: #323232;
}

.PostMobContainer-Contents-phoneNum-InputBox,
.PostMobContainer-Contents-email-Inputbox,
.PostMobContainer-Contents-studentNum-InputBox,
.PostMobContainer-Contents-Name-InputBox {
    color: #D6D6D6;
}

.PostMobContainer-Contents-email-notice {
    font-family: 'Pretendard-Medium';
    font-size: 11px;
    color: #939393;
    padding-top: 12px;
    line-height: 1.5;
}

.PostMobContainer-ContentsSelect {
    display: flex;
    flex-direction: column;
    gap: 64px;
}


.PostMobContainer-ContentsSelect-session,
.PostMobContainer-ContentsSelect-laptop {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.PostMobContainer-ContentsSelect-laptop-radio,
.PostMobContainer-ContentsSelect-session-radio{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Pretendard-Medium';
    font-size: 12px;
    color: #323232;
}

.PostMobContainer-ContentsSelect-Tracks-label,
.PostMobContainer-ContentsSelect-laptop-label,
.PostMobContainer-ContentsSelect-session-label {
    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
    color: #323232;
}

.PostMobContainer-ContentsSelect-session-label {
    line-height: 1.3;
}

.PostMobContainer-ContentsSelect-laptop-notice,
.PostMobContainer-ContentsSelect-session-notice {
    font-family: 'Pretendard-Medium';
    font-size: 11px;
    color: #1B9CFF;
    line-height: 1.7;
    margin-left: 19px;
}

.PostMobContainer-ContentsSelect-laptop-radio label, 
.PostMobContainer-ContentsSelect-session-radio label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Pretendard-medium';
    font-size: 12px;
    color: #323232;
}

.PostMobContainer-ContentsSelect-laptop-radioButton,
.PostMobContainer-ContentsSelect-session-radioButton {
  appearance: none;
  position: relative;
  background-color: #FFFFFF;
  width: 11.18px;
  height: 11.18px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 1px solid #939393;
  margin: 0;
}

.PostMobContainer-ContentsSelect-laptop-radioButton:checked,
.PostMobContainer-ContentsSelect-session-radioButton:checked {
  background-color: #1B9CFF;
}

.PostMobContainer-ContentsSelect-laptop-radioButton:checked::before,
.PostMobContainer-ContentsSelect-session-radioButton:checked::before {
  content: "";
  width: 5.59px;
  height: 5.59px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.PostMobContainer-ContentsSelect-Tracks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
  }

.PostMobContainer-ContentsSelect-Tracks-Buttons {
    display: flex;
    gap: 10px;
}

.PostMobContainer-ContentsSelect-TracksD {
    width: 113px;
    height: 34px;
    border: 1px solid #1B9CFF;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    color: #1B9CFF;
    cursor: pointer;
  }
  
.PostMobContainer-ContentsSelect-TracksF {
    width: 101px;
    height: 34px;
    border: 1px solid #1B9CFF;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    color: #1B9CFF;
    cursor: pointer;
}
  
.PostMobContainer-ContentsSelect-TracksB {
    width: 94px;
    height: 34px;
    border: 1px solid #1B9CFF;
    border-radius: 10px;
    background-color: transparent;
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    color: #1B9CFF;
    cursor: pointer;
}
  
.PostMobContainer-ContentsSelect-TracksD-selected {
    width: 113px;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: #1B9CFF;
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}
  
.PostMobContainer-ContentsSelect-TracksF-selected {
    width: 101px;
    height: 34px;
    border-radius: 10px;
    border: none;
    background-color: #1B9CFF;
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
  }
  
.PostMobContainer-ContentsSelect-TracksB-selected {
    width: 94px;
    height: 39px;
    border-radius: 10px;
    background-color: #1B9CFF;
    border: none;
    font-family: 'Pretendard-SemiBold';
    font-size: 13px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
}

.PostMobContainer-TrackQ {
    display: flex;
    flex-direction: column;
    gap: 34px;
    margin-top: -40px;
}

.PostMobContainer-TrackQ-Box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.PostMobContainer-TrackQ-Box-Top {
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.PostMobContainer-TrackQ-question {
    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
}

.PostMobContainer-TrackQ-answer {
    width: 296px;
    height: 150px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Pretendard-SemiBold';
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF;
    resize: none;
    outline: none;
  }

.PostMobContainer-TrackQ-answer-link {
    width: 296px;
    height: 14px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Pretendard-SemiBold';
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid #D6D6D6;
    background-color: #FFFFFF;
    resize: none;
    outline: none;
}

.PostMobContainer-TrackQ-answer-link-notice {
    font-family: 'Pretendard-Medium';
    font-size: 12px;
    line-height: 1.3;
    color: #939393;
    padding-left: 5px;
}

.PostMobContainer-Submit {
    width: 320px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PostMobContainer-Submit button {
    width: 320px;
    height: 54px;
    background-color: #1B9CFF;
    border-radius: 30px;
    border: none;
    outline: none;
    font-family: 'Pretendard-SemiBold';
    font-size: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.PostMobContainer-Contents-email-Inputbox-mobile-error-text,
.PostMobContainer-Contents-Name-Inputbox-mobile-error-text,
.PostMobContainer-Contents-phoneNum-Inputbox-mobile-error-text,
.PostMobContainer-Contents-studentNum-Inputbox-mobile-error-text {
    margin-top: 10px; /* 입력 박스와의 간격을 조정하려면 이 값을 변경하세요 */
    text-align: left; /* 에러 메시지를 왼쪽 정렬로 하려면 이 속성을 추가하세요 */
    margin-left: -8px;
    
}

.mobile-error-text {
    font-family: 'Pretendard-medium';
    font-size: 11px;
    color: #1B9CFF;
}

.PostMobContainer-Contents-Name-Inputbox.error-input, 
.PostMobContainer-Contents-studentNum-Inputbox.error-input,
.PostMobContainer-Contents-phoneNum-Inputbox.error-input, 
.PostMobContainer-Contents-email-Inputbox.error-input {
  width: 104px;
  height: 34px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #ECF7FF;
  font-family: 'Pretendard-Medium';
  font-size: 12px;
  border-radius: 10px;
  border: 1px solid #1B9CFF;
  outline: none;
}

.PostMobContainer-Contents-phoneNum-Inputbox.error-input, 
.PostMobContainer-Contents-email-Inputbox.error-input {
    width: 146px;
    height: 34px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #ECF7FF;
    font-family: 'Pretendard-Medium';
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid #1B9CFF;
    outline: none;
}

.PostMobContainer-TrackQ-answer.error-input {
    width: 296px;
    height: 150px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Pretendard-SemiBold';
    font-size: 12px;
    border-radius: 10px;
    background-color: #ECF7FF;
    border: 1px solid #1B9CFF;
    resize: none;
    outline: none;
  }









