@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../Fonts/Pretendard-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../Fonts/Pretendard-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../Fonts/Pretendard-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../Fonts/Pretendard-Regular.ttf') format('truetype');
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* overflow-y: auto; 
    overflow-x: hidden; */
    display: flex;
    justify-content: center;
}

.babylionpage-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.babylion-header {
    margin-top: 239px;
    display: flex;
    justify-content: flex-start;
    padding-right: 130px;
}

.babylion-title {
    font-family: 'Pretendard-SemiBold';
    font-size: 50px;
    color: #323232;
}





