@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/Montserrat-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../Fonts/Pretendard-Bold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('../Fonts/Pretendard-SemiBold.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../Fonts/Pretendard-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../Fonts/Pretendard-Regular.ttf') format('truetype');
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    background-color: #121212; 
}

.QNA-container{
    width: 1920px;
    height: 1358px;  
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.QNA-header-container {
    width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    padding-left: 0px;
    padding-right: 190px;
}

.QNA-header-mainText{
    font-family: 'Pretendard-Bold';
    font-size: 50px;
    font-weight: 700;
    line-height: 59.67px;
    text-align: left; 
    margin-bottom: 25px;
}

.QNA-header-subText{
    color: #939393;
    font-family: 'Pretendard-SemiBold';
    font-size: 24px;
    font-weight: 600;
    line-height: 28.64px;
    text-align: left;   
}

.QNA-header-Icon{
    width: 250px;
    margin-top: 10px;
}

.QNA-header-mouseIcon img{
    width: 32.28px;
    height: 38.73px;
    margin-bottom: 10px;
}

.QNA-header-mouseIconText{
    width: 225px;
    height: 56px;
    border: 2px solid #005BA1;
    background-color: #1B9CFF;
    border-radius: 0px 50px 50px 50px ;
    text-align: center;
    display: inline;
    padding: 12px 20px 12px 20px;
    margin-left: 30px;
}

.qnaContents-menu img{
    width: 30px;
    height: 30px;
}

.QNA-qna-container{
    list-style: none;
}

ul{
    padding-inline-start: 0px;
}

.qnaContents-menu{
    width: 1106px;
    height: 80px;
    border-radius: 14px;
    border: 2px solid #323232;
    display:flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Pretendard-Regular';
    font-size: 22px;
    font-weight: 500;
    line-height: 26.25px;
    color: #ffffff;
    margin-bottom: 25px;
}

.qnaContents-menu-active{
    width: 1106px;
    height: 80px;
    border-radius: 14px 14px 0px 0px;
    border: 2px solid #323232;
    display:flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    font-family: 'Pretendard-Regular';
    font-size: 22px;
    font-weight: 500;
    line-height: 26.25px;
    color: #ffffff;
    background-color: #323232;
    margin-bottom: 0px;
}

.qnaAnswer-menu{
    width: 1086px;
    height: auto;
    border: 2px solid #323232;
    border-radius: 0px 0px 14px 14px;
    text-align: left;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    font-weight: 500;
    line-height: 26.25px;
    white-space: pre-line;
    padding: 30px 10px 30px 70px;
    margin-bottom: 25px;
}